.liCard{
    background: #F8F9FA;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    list-style: none;
    align-items: flex-start;
    width: 292px;
    border-radius: 4px;
    flex-direction:column;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-right: 30px;


}
.imgNaoMobile{
    display: flex;
    width: 300px;

   }
   .imgNaoDesktop{
    display: none;

   }
.ulCard{
    background: #FFFFFF;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   


}
.pResumoFinanceiro{
    
}
.divLis{
    background: #FFFFFF;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    width: 300px;
    border-radius: 4px;

}
.pDescricao{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #212529;
    display: flex;
    align-items: flex-start;
    /* padding: 10px; */
}
.pTipo{

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #343A40;
    display: flex;
    align-items: flex-start;
    /* padding: 10px; */

}

.pValor{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #212529;
    display: flex;
    align-items: flex-start;
    padding: 10px;
}
.botaoDeletar{
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
    margin-bottom: 30px;
}

@media (min-width: 475px) {
   .liCard{
    width: 450px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
   }

   .ulCard{
    width: 460px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: flex-start;
        
   }
   .divLis{
    width: 562px;


   }
  
   .sectionB{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
   }
   .imgNaoMobile{
    display: none;

   }
   .imgNaoDesktop{
    display: flex;

   }

  }
   