.liCard{
    background: #F8F9FA;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    list-style: none;
    align-items: flex-start;


}
.ulCard{
    background: #FFFFFF;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
   


}
.pResumoFinanceiro{
    margin: 20px;
}
.divLis{
    background: #FFFFFF;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    height: 96px;
    width: 358px;
    border-radius: 4px;

}
.pDescricao{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #212529;
    display: flex;
    align-items: flex-start;
    padding: 10px;
}
.pTipo{

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #343A40;
    display: flex;
    align-items: flex-start;
    padding: 10px;

}

.pValor{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #212529;
    display: flex;
    align-items: flex-start;
    padding: 10px;
}
.botaoDeletar{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

@media (min-width: 476px) {
   .liCard{
    height: 87px;
    width: 562px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
   }
   .divLis{
    height: 87px;
    width: 560px;
    display: flex;
    align-items: flex-start;
   }
   .ulCard{

    width: 460px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: flex-start;
        
   }

  }
   