.divValorTotal{
    background: #FFFFFF;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    width: 300px;
    border-radius: 4px;
    padding: 24px;
    box-sizing: border-box;
}
.pValorTotal{
    margin-bottom: 30px;
}
.divValorTotalSpan{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total{
    color: #FD377E;

}
.pTituloValorTotal{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #212529;
}