@media(min-width:475px){
  .divSections{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

  }

  .sectionA{

  }

  .sectionB{

  }

}

main{
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
  

}
body{
  display: flex;
}