@media(min-width:475px){
  .divSections{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;

  }


}

@media(min-width:1000px){
  .divSections{
    display: flex;
    justify-content: center;
    align-items: flex-start;

  }


}

main{
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
  

}
