.btnHeaderIniciar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 20px;
    width: 64px;
    height: 40px;
    background: #E9ECEF;
    border: 1.4px #E9ECEF;
    border-radius: 8px;
    color: black;
}
header{
    background-color: var(--color-grey-1);
    box-shadow: 0 4px 32px -12px #00000040;
}
.containerHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: var(--container-1);
    margin: 0 auto;
        
}
.logoNuKenzie2{
    max-width: 100%;

   

}

@media(max-width:320px){
    .divContainerHeader{
        padding: 0 10px;
    }
  


}