.btnInserirValor{
    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
    gap: 10px;
    color: white;
    width: 260px;
    height: 48px;
    background: #FD377E;
    border: 2px solid #FD377E;
    border-radius: 8px;
    margin-bottom: 10px;

}
.form{
    box-sizing: border-box;
    width: 300px;
    height: 351px;
    background: white;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

label{
    display: flex;
    align-items: flex-start;
    
}
.descricao{

}
input{
    width: 250px;
    height: 52px;
}
select{
    width: 100px;
    height: 48px;
}
#valor{
    width: 75px;
    height: 48px;
    border-radius: 8px;
}
.divValorTipoValor{
    display: flex;
    flex-direction: row;
}
.pExemplo{
    align-items: flex-start;
    display: flex;

}
.divValor{
    display: flex;
    flex-direction: column;
    margin-right: 36px;
}
.divTipoValor{
    display: flex;
    flex-direction:column;
}
