
.pTitulo{

    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
    display: flex;
    text-align: left;
    margin-left: 20px;

}
.mainLandingPage{
    background-color: #212529;
    ;
}


.pSubtitulo{
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-right: 140px;

}

.btnIniciar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
    gap: 10px;
    width: 360px;
    height: 48px;
    background: #FD377E;
    border: 2px solid #FD377E;
    border-radius: 8px;
    margin-bottom: 40px;
    margin-top: 20px;
    color: white;
}

.logoNuKenzie{
    background-color: white;
    display: flex;
    align-items: flex-start;
    margin-right: 200px;

}

main{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 476px) {
    main{
    display: flex;
    align-items: center;
    flex-direction: rown;
    justify-content: center;
    max-width: 1500px;
    width: 100%;

    }
    .sectionTextos{
        gap:60px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    

}

