
.pTitulo{

    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
    display: flex;
    text-align: left;

}
.mainLandingPage{
    background-color: #212529;

    min-height: 100vh;
}


.pSubtitulo{
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-right: 140px;

}

.btnIniciar{
    font-size: 22px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     width: 300px;
    height: 48px;
    background: #FD377E;
    border: 2px solid #FD377E;
    border-radius: 8px;
    margin-bottom: 40px;
    margin-top: 20px;
    color: white;
}

.logoNuKenzie{
    width: 122px;
    height: 198px;


}
.sectionTextos{
    display: flex;
    flex-direction: column;
    padding: 15px;
    
}
.sectionImagem{
    display: flex;
    align-items: center;
}
.imgCentralMobile{
    width: 300px;
    height: 300px;
    display: flex;

}
.imgCentralDesktop{
   display: none;

}


@media (min-width: 800px) {
  
    .sectionTextos{
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
    .imgCentralDesktop{
        width: 393px;
        height: 393px;
        display: flex;
    }
    .imgCentralMobile{
        display: none;
    }
    .btnIniciar{
        width:241px;
        height: 48px;
    }
    .divSectionsLadingPage{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
    .logoNuKenzie{
        width: 122px;
        height: 198px;
        
    
    }

}

