#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (min-width: 476) {
 main{
  display: flex;
  flex-direction: row;
  gap: 60px;
 }
 .Header{
  height: 88px;
  max-width: 1500px;
  width: 100%;

}


}
 

